<title>LeakedSearch - <%= title %></title>
<!-- style css -->
<link rel="stylesheet" href="/css/style.css">
<link rel="shortcut icon" type="image/jpg" href="/img/favicon.png"/>
 <!-- Materialize CSS -->
 <link rel="stylesheet" href="/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script src="https://kit.fontawesome.com/0f4f18059e.js" crossorigin="anonymous"></script>
 <!-- Google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0">